.card {
    border: 2px solid rgb(6, 4, 114);
    width: 50rem;
    margin: 3rem;
    padding: .5rem 5rem .5rem .5rem;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    z-index: 2;
    transition-duration: .5s;
}

.card:hover {
    transform: scale(1.015);
    box-shadow: inset;
}

.card_image {
        width: 14rem;
        height: 21rem;
        margin: 1rem;
}

.card_text {
    margin-left: 2rem;
    text-align: left;
}
.card_button {
    color: white;
    background-image: linear-gradient(
     90deg,
     rgba(7, 55, 224, 1) 20%,
     rgba(10, 131, 227, 1) 62%,
     rgba(10, 167, 227, 1) 74%
    );
    text-decoration: none;
    display: flex;
    /* align-items: center; */
    padding: .5rem;
    margin-top: 2rem;
    border: none;
    transition-duration: .5s;
}

.card_button:hover {
    transform: scale(1.2);
}

